.users{
      
}
.users li .username{
    font-size: 11px ;
    font-weight: bold;
    text-align: left;
}
.users li .user-last-message{
    font-size: 8px ;
    color:gray;
    text-align: left;
}
.users li .lastloggedin{
    color:dimgray;
    font-size : 8px;
}

.users li:hover{
    background-color: lightgray;
}

.users .selected-user{
    background-color: lightgray;
}
 

    




 